#title {
    text-align: center;
}

#desc {
    text-align: center;
}

#body {
    text-align: center;
}

body {
    background-color: rgb(218, 216, 216);
}

#content {
    text-align: center;
}

#image {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#bottom {
    text-align: center;
}